@import '../../utils/variables';

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  label {
    margin-left: .4em;
    font-size: 1rem;
  }
}

.input {
  padding: .5em .75em;
  border: 1px solid $text-mid;
  border-radius: 5px;
  font-size: 1rem;
  &:active, &:focus {
    border: 1px solid $text-dark;
    outline: none;
  }
  &[type=submit] {
    background-color: $text-success;
    border: 1px solid $text-success;
    border: 0;
    transition: 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: darken($text-success, 10%);
      color: $text-light;
    }
  }
}
