@import '../../utils/variables';
@import '../../utils/common';

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;

  label {
    margin-left: .4em;
    font-size: 1rem;
  }
}

.input {
  height: 2rem;
  padding: 0 1em;
  border: 1px solid $text-mid;
  border-radius: 5px;
  font-size: 1rem;
  &:active, &:focus {
    border: 1px solid $emphasis;
    outline: none;
  }
  &[type=submit] {
    @extend .btn;
    @extend .btn-info;
    margin-right: 0;
  }
}

.input-danger {
  border: 1px solid $text-danger;
}

.input-success {
  border: 1px solid $text-success;
}

select {
  @extend .input;
}