@import 'variables';

.text-center {
  text-align: center;
}

.text-danger {
  color: $text-danger;
}

.text-success {
  color: $text-success;
}

.btn-wrapper {
  background: transparent !important;
  &:hover {
    background: transparent;
    text-decoration: none;
  }
}

.btn {
  display: inline-block;
  height: 2rem;
  min-width: 80px;
  padding: 0 .5em;
  border-radius: 5px;
  background: $text-mid;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  line-height: 2rem;
  transition: 0.2s;
  &:hover {
    background: darken($text-mid, 10%);
    text-decoration: none !important;
    cursor: pointer;
  }
  &+ .btn {
    margin-left: .5em;
  }
}

.btn-info {
  background: $emphasis;
  color: $text-light;
  border: 1px solid $emphasis;
  &:hover {
    background-color: darken($emphasis, 15%);
    border: 1px solid darken($emphasis, 15%);
    color: $text-light;
  }
}

.btn-primary {
  background: $text-dark;
  color: $text-light;
  border: 1px solid $text-dark;
  &:hover {
    background-color: lighten($text-dark, 10%);
    border: 1px solid lighten($text-dark, 10%);
  }
}

.btn-warning {
  background: $text-warning;
  color: $text-light;
  border: 1px solid $text-warning;
  &:hover {
    background-color: darken($text-warning, 10%);
    border: 1px solid darken($text-warning, 10%);
    color: $text-light;
  }
}

.btn-danger {
  background: $text-danger;
  color: $text-light;
  border: 1px solid $text-danger;
  &:hover {
    background-color: darken($text-danger, 10%);
    border: 1px solid darken($text-danger, 10%);
  }
}

.btn-disabled {
  @extend .btn;
  color: $text-dark !important;
  background: darken($text-mid, 15%) !important;
  border: 1px solid darken($text-mid, 15%) !important;
  &:hover {
    cursor: not-allowed !important;
  }
}

ol, ul {
  margin-left: 1em;
  li {
    margin-bottom: .5em;
  }
}