@import 'variables';

.text-center {
  text-align: center;
}

.text-danger {
  color: $text-danger;
}

.text-success {
  color: $text-success;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: .5em .75em;
  margin-right: .5em;
  min-width: 80px;
  border-radius: 5px;
  border: 1px solid $text-mid;
  background: $text-mid;
  text-decoration: none;
  transition: 0.2s;
  &:hover {
    background: darken($text-mid, 10%);
    border: 1px solid darken($text-mid, 10%);
    text-decoration: none;
    cursor: pointer;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.btn-info {
  @extend .btn;
  background: $emphasis;
  color: $text-light;
  border: 1px solid $emphasis;
  &:hover {
    background-color: darken($emphasis, 15%);
    border: 1px solid darken($emphasis, 15%);
    color: $text-light;
  }
}

.btn-primary {
  @extend .btn;
  background: $text-dark;
  color: $text-light;
  border: 1px solid $text-dark;
  &:hover {
    background-color: lighten($text-dark, 10%);
    border: 1px solid lighten($text-dark, 10%);
  }
}

.btn-warning {
  @extend .btn;
  background: $text-warning;
  color: $text-light;
  border: 1px solid $text-warning;
  &:hover {
    background-color: darken($text-warning, 10%);
    border: 1px solid darken($text-warning, 10%);
  }
}

.btn-danger {
  @extend .btn;
  background: $text-danger;
  color: $text-light;
  border: 1px solid $text-danger;
  &:hover {
    background-color: darken($text-danger, 10%);
    border: 1px solid darken($text-danger, 10%);
  }
}

ol, ul {
  margin-left: 1em;
  li {
    margin-bottom: .5em;
  }
}