// Variables for the whole project

// Colors
//
$text-light: #fff;
$text-mid: #ddd;
$text-dark: #222;

$accent-primary: #c72d25;
$emphasis: darken(#61dafb, 25%);

$text-success: lighten(#4BB543, 10%);
$text-warning: #ffcc00;
$text-danger: #c72d25;

// Padding
//
$pad-1: 1rem;
$pad-2: 3rem;
$pad-3: 6rem;

// Breakpoints
//
$breakpoints: (
  // Small devices (landscape phones, 576px and up)
  'phone': 576px,

  // Medium devices (tablets, 768px and up)
  'tablet': 768px,

  // Large devices (desktops, 992px and up)
  'desktop': 992px,

  // Extra large devices (large desktops, 1200px and up)
  'desktop-big': 1200px
);

// Device breakpoints
@mixin device-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  @else {
    @warn "Breakpoint `#{$breakpoint}` not found."
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}