@import '../../utils/variables';
@import '../../utils/common';

.search-bar {
  display: flex;
  width: 100%;
  margin-bottom: $pad-1;
}

.search-bar-form {
  display: flex;
  justify-content: center;
  width: 100%;
  .btn {
    margin: 0 !important;
  }
  .input[name=query] {
    flex: 4;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:active, &:focus {
      border: 1px solid $text-dark;
    }
  }
  .input[type=submit] {
    @extend .btn-primary;
    flex: 1;
    border-radius: 0;
    min-width: 80px;
  }
}

.search-bar-query-input-group {
  flex: 4;
}

.search-bar-post-btn {
  flex: 1;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}