@import '../../utils/variables';

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 $pad-1;
  background-color: $text-light;
  color: $text-dark;
  border-bottom: 1px solid $text-mid;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-link {
  display: inline-block;
  color: $emphasis;
  padding-right: $pad-1;
  &:hover {
    color: darken($emphasis, 15%);
    text-decoration: underline;
    cursor: pointer;
  }
}